<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="headline" type="java.lang.String"*/-->

<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Schematic - a database management UI for Spring Boot</title>

  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta name="theme-color" content="#37b73b">

  <link rel="icon" th:href="@{{rootPath}images/favicon.png(rootPath=${@schematicProperties.rootPath})}">

  <link rel="stylesheet" th:href="@{{rootPath}webjars/bootstrap/css/bootstrap.min.css(rootPath=${@schematicProperties.rootPath})}">
  <link rel="stylesheet" th:href="@{{rootPath}webjars/font-awesome/7.2.0/css/all.css(rootPath=${@schematicProperties.rootPath})}">
  <link rel="stylesheet" th:href="@{{rootPath}css/styles.css(rootPath=${@schematicProperties.rootPath})}">

  <script th:src="@{{rootPath}webjars/popper.js/umd/popper.min.js(rootPath=${@schematicProperties.rootPath})}"></script>
  <script th:src="@{{rootPath}webjars/bootstrap/js/bootstrap.min.js(rootPath=${@schematicProperties.rootPath})}"></script>
  <script th:src="@{{rootPath}webjars/htmx.org/dist/htmx.min.js(rootPath=${@schematicProperties.rootPath})}"></script>
</head>
<body>
<div>
  <div th:replace="~{fragments/header :: header}"></div>

  <div class="container has-text-centered mt-4">
    <div layout:fragment="page-content"></div>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
