<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="activeMenuItem" type="java.lang.String"*/-->

<nav class="navbar navbar-expand-lg navbar-light branded-background bg-opacity-10 fixed-top" th:fragment="header">
  <div class="container">
    <img th:src="@{{rootPath}images/logo.png(rootPath=${@schematicProperties.rootPath})}" alt="logo" width="120">
    <h1 class="app-title">
      <a href="https://github.com/BjoernKW/Schematic"
         class="branded-link"
         target="_blank">
        Schematic - a database management UI for Spring Boot
      </a>
    </h1>
    <div class="float-end small">
      <a th:href="@{https://search.maven.org/artifact/com.bjoernkw/schematic/{version}/jar(version=${@schematicProperties.version})}"
         class="branded-link"
         target="_blank">
        v<span th:text="${@schematicProperties.version}"></span>
      </a>
    </div>
  </div>
</nav>
</html>
