h1.app-title {
    font-size: 1.625em;
}

#tables {
    overflow-x: scroll;
}

.show-table-icon, .hide-table-icon {
    display: none;
}

button.collapsed .show-table-icon {
    display: inline-block;
}

button:not(.collapsed) .hide-table-icon {
    display: inline-block;
}
