<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="headline='Welcome to Schema - a database management UI for Spring Boot!'">
<head>
  <title>Tables</title>
</head>
<section class="section" layout:fragment="page-content">
  <div class="container">
    <h2>Tables</h2>
    <div id="tables" class="smooth" th:insert="~{fragments/tables}"></div>
  </div>
</section>
</html>
